body {
    direction: rtl;
    unicode-bidi: embed;
}

form input[lang="en"],
form textarea[lang="en"],
form select[lang="en"] {
    direction: ltr;
}

form .input label {
    transform-origin: top right;
    -ms-transform: translate(-12px, 10px);
    -webkit-transform: translate(-12px, 10px);
    -moz-transform: translate(-12px, 10px);
    transform: translate(-12px, 10px);
}

form .input.active label {
    -ms-transform: translate(-24px, -12px);
    -webkit-transform: translate(-24px, -12px);
    -moz-transform: translate(-24px, -12px);
    transform: translate(-24px, -12px);
}

header #menu {
    float: right;
    margin-left: 12px;
    margin-right: unset;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

header #search {
    float: left;
}

.nav-drawer {
    right: 0;
    left: unset;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.nav-drawer ul li img,
.nav-drawer ul li svg {
    margin-left: 8px;
    margin-right: unset;
}

.nav-drawer ul li ul {
    margin-right: 16px;
    margin-left: unset;
}

.nav-drawer ul li a:after {
    left: 16px;
    right: unset;
}

.menu-item-has-children a:not(:last-child),
.page_item_has_children a:not(:last-child) {
    background-position: center left;
    padding-left: 20px !important;
    padding-right: 8px;
}

.nav-tabs li a:after {
    margin-right: 12px;
    margin-left: unset;
}

.nav-tabs li a:only-child:after {
    margin-right: 0;
    margin-left: unset;
}

.nav-tabs li ul {
    margin-left: 0;
    margin-right: -8px;
    text-align: right;
}

.nav-tabs li ul li ul {
    right: 100%;
    left: unset;
}

main article .featured-image .post-category {
    float: left;
    border-radius: 8px 0 20px 0;
}

main article .bottom .read-more {
    float: left;
}

main article .bottom .comment-count svg {
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
}

.pagination #older-posts {
    float: left;
}

.pagination #older-posts {
    float: right;
}

article .post-categories {
    text-align: left;
}

article .post-categories li {
    margin-right: 8px;
    margin-left: unset;
}

blockquote {
    border-right: 4px solid #424242;
}

.comments .bubble {
    border-radius: 32px 32px 0 32px;
}

.comments .bubble .reply {
    text-align: left;
}

.comments .children {
    padding-right: 16px;
    padding-left: unset;
}

.comments form textarea {
    border-radius: 32px 32px 32px 0;
}

footer main {
    direction: ltr;
}

footer main section {
    direction: rtl;
}

footer .backtotop {
    float: left;
    margin-left: 24px;
    margin-right: unset;
}

.search-result form input[type="search"] {
    padding-left: 108px;
    padding-right: 16px;
}

.search-result form input[type="submit"] {
    margin-right: -100px;
    margin-left: unset;
}

@media only screen and (min-width: 960px) {
    header #menu {
        margin-left: 36px;
        margin-right: unset;
    }

    .search-box {
        left: 16px;
        right: unset;
    }
}